@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">AGVS</h1>
        <p class="lead">Bem Vindo ao site de Gerenciamento</p>
 
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Confiabilidade</h2>
            <p>Destaque que o sistema é robusto, sempre disponível e evita falhas, garantindo que os dados dos usuários sejam gerenciados com precisão e sem interrupções.
            </p>
       
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Segurança</h2>
            <p>Assegure que o site tem medidas rigorosas de segurança, como criptografia de dados e autenticação em dois fatores, para proteger as informações dos usuários.</p>
      
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Facilidade de Uso</h2>
            <p>Garanta que a interface seja intuitiva e fácil de navegar, permitindo que os usuários gerenciem suas tarefas rapidamente, sem complicações técnicas.</p>
        </section>
       
    </div>
</main>